<!doctype html> 
<html> 
    <head> 
        <meta charset="utf-8"> 
        <title>DataMatrix</title> 
    </head> 
    <body>
        <table border="1">
          <tr><th>name</th><th>baseName</th><th>skipCount</th><th>vectorSkipCount</th></tr>
          <tr><td>{{ datamatrix['name'] }}</td><td>{{ datamatrix['baseName'] }}</td><td>{{ datamatrix['skipCount'] }}</td><td>{{ datamatrix['vectorSkipCount'] }}</td></tr>
        </table>
        <br />
        <table border="1">
            <tr><th>name</th><th>baseName</th><th>aggregate</th><th>dataType</th></tr>
            {% for column in datamatrix['columns'] %}
            <tr><td>{{ column['name'] }}</td><td>{{ column['baseName'] }}</td><td>{{ column['aggregate'] }}</td><td>{{ column['values'].dataType }}</td>{% if 'numVal' in column['values'].keys() -%}
                    {% for columnValue in column['values']['numVal'] -%}<td>{{ columnValue }}</td>{% endfor -%}</tr>
                {% elif 'strVal' in column['values'].keys() -%}
                    {% for columnValue in column['values']['strVal'] -%}<td>{{ columnValue }}</td>{% endfor -%}</tr>
                {% elif 'dateVal' in column['values'].keys() -%}
                    {% for columnValue in column['values']['dateVal'] -%}<td>{{ columnValue }}</td>{% endfor -%}</tr>
                {% elif 'numSeq' in column['values'].keys() -%}
                    {% for columnValue in column['values']['numSeq'] -%}<td><table border="1"><tr>{% for seqValue in columnValue -%}<td>{{ seqValue }}</td>{% endfor -%}</tr></table></td>{% endfor -%}</tr>
                {% elif 'strSeq' in column['values'].keys() -%}
                    {% for columnValue in column['values']['strSeq'] -%}<td><table border="1"><tr>{% for seqValue in columnValue -%}<td>{{ seqValue }}</td>{% endfor -%}</tr></table></td>{% endfor -%}</tr>
                {% elif 'dateSeq' in column['values'].keys() -%}
                    {% for columnValue in column['values']['dateSeq'] -%}<td><table border="1"><tr>{% for seqValue in columnValue -%}<td>{{ seqValue }}</td>{% endfor -%}</tr></table></td>{% endfor -%}</tr>
                {% elif 'unknownSeq' in column['values'].keys() -%}
                    {% for columnValue in column['values']['unknownSeq'] -%}
                    <td>dataType:{{ columnValue['dataType'] }}{% if 'numSeq' in columnValue.keys() -%}<table border="1"><tr>
                        {% for seqValue in columnValue['numSeq'] -%}<td>{{ seqValue }}</td>{% endfor -%}</tr></table></td>
                        {% elif 'strSeq' in columnValue.keys() -%}<table border="1"><tr>
                        {% for seqValue in columnValue['strSeq'] -%}<td>{{ seqValue }}</td>{% endfor -%}</tr></table></td>
                        {% elif 'dateSeq' in columnValue.keys() -%}<table border="1"><tr>
                        {% for seqValue in columnValue['dateSeq'] -%}<td>{{ seqValue }}</td>{% endfor -%}</tr></table></td>
                        {% endif %}
                    {% endfor -%}
                {% endif -%}
            {% endfor -%}</tr>
        </table>
    </body>
</html>
